<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>切り抜き動画一覧</title>
</head>
<body>
<ul>
        <li><a href="https://www.youtube.com/watch?v=JDApNHoER1Q" target="_blank">【年越し雑談】2023年最後！縦型配信でゆったり【新人Vtuber】</a></li>
    	<li><a href="https://www.youtube.com/watch?v=HVqwg7aO5nM&t=6209s" target="_blank">【大晦日】2022年とさよならばいばい【新人Vtuber】</a></li>
    	<li><a href="https://www.youtube.com/watch?v=-RFB-5aY7ps" target="_blank">【あつまれどうぶつの森】睡眠にもよし！ゆったり雑談【新人Vtuber】</a></li>
    	<li><a href="https://www.youtube.com/watch?v=-1biK-JcjEk&t=2009s" target="_blank">【inbento後半】お弁当つくりきる！【新人Vtuber】</a></li>
    	<li><a href="https://www.youtube.com/watch?v=dlhYozNHDIU" target="_blank">【価値観どっち？】 男性Vtuber二人に二択の質問を出し続けてたら価値観を理解することはできるのか【新人Vtuber】</a></li>
    	<li><a href="https://www.youtube.com/watch?v=btfDMCok_sY" target="_blank">【朝配信】朝のしゅかぺんニュースのお時間です！天気予報と占いするよ～！ 23/11/29【新人Vtuber】</a></li>
    	<li><a href="https://www.youtube.com/watch?v=O66ERB3OaFw&t=2910s" target="_blank">【朝配信】朝のしゅかぺんニュースのお時間です！天気予報と占いするよ～！ 23/11/27【新人Vtuber】</a></li>
    	<li><a href="https://www.youtube.com/watch?v=nUyqdlbKcKY" target="_blank">【珈琲配信 Lv.31☕】33分頃大音量注意！ごめんなさい！！！！【新人Vtuber】</a></li>
</ul>	
</body>
</html>